image:
  repository: marboccu/flask-app-example
  pullPolicy: Always
  tag: latest
  name: flask-app

service:
  type: ClusterIP
  port: 8000

namespace: formazione-sou

serviceAccount:
  create: true
  name: cluster-reader

ingress:
  enabled: true
  className: nginx
  name: flask-ingress
  host: formazionesou.local
  serviceName: flask-app
  servicePort: 80

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

livenessProbe:
  httpGet:
    path: /
    port: 8000
  initialDelaySeconds: 5
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 8000
  initialDelaySeconds: 15
  periodSeconds: 25


