- name: Setup registry and build/push images
  hosts: local
  become: false
  vars_files:
    - vars/secrets.yml
  roles:
    - { role: service-check, container_runtime: docker }
    - { role: registry, container_runtime: docker }
    - { role: build-push, container_runtime: docker }



