apiVersion: v1
kind: ServiceAccount
metadata:
  name:   {{ .Values.serviceAccount.name }}
  namespace: {{ .Values.serviceAccount.namespace }}
---
apiVersion: rbac.authorization.k8s.io
kind: ClusterRole
metadata:
  name: {{ .Values.serviceAccount.name }}
rules:
- apiGroups: [""]
  resources: ["pods", "deployments", "services"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io
kind: ClusterRoleBinding
metadata:
  name: cluster-reader-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  name: {{ .Values.serviceAccount.name }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.serviceAccount.name }}
  namespace: {{ .Values.serviceAccount.namespace }}
